# Jetbrains
/.idea/*

# Ignoriere alles außer src und andere relevante Verzeichnisse
/*
!/src/
!/Resources/
!/contao-dicoma-bundle.php
# Fügen Sie hier weitere relevante Verzeichnisse oder Dateien hinzu, die Sie verfolgen möchten.

# tools
/composer.lock
/.php-cs-fixer.cache
/tools/phpunit/.phpunit.result.cache
